#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.checkbox,
.checkbox input,
.checkbox label {
  cursor: pointer;
}

.panel {
  width: 500px;
  height: 240px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  margin-bottom: 2rem;
}

.button-comps {
  margin-top: 2rem;
}

.warning {
  font-size: 0.8rem;
  font-style: italic;
}

.light-mode {
  background-color: #ddd;
  color: #222;
}

.btn-light-mode {
  background-color: #aaa;
  color: #111;
}

.login-form {
  display: flex;
  gap: 1rem;
}

.login-form-light-mode input {
  background-color: #fcfcfc;
  border: 1px solid #aaa;
}

.login-form input {
  padding: 0.5rem;
}
